.blink {
  animation: blink 1s steps(20, start) infinite;
  -webkit-animation: blink 1s steps(20, start) infinite;
}
@keyframes blink {
  to {
    opacity: 0;
  }
}
@-webkit-keyframes blink {
  to {
    opacity: 1;
  }
}