@import "../vendor/foundation-apps/scss/helpers/functions";

// Global Styles

//This sets 1rem to be 16px
$rem-base: 16px;
$base-font-size: 100%;
$base-line-height: 1.5;

// We use these to define default font weights
$font-weight-normal: normal;
$font-weight-bold: bold;

// We use these to control various global styles
$body-background: #f2f2f2;
$body-secondary-background: #fff;
$body-click-color: #d9d9d9;
$body-font-color: #4d4d4d;
$body-font-family: 'Roboto', sans-serif;
$body-font-weight: $font-weight-normal;
$body-font-style: normal;
$body-antialiased: true;

// Sidebar
$sidebar-background: #1a1a1a;
$sidebar-font-color: #ccc;
$sidebar-secondary-background: #333;

// Application Colors
$primary-color: #c9c909;
$secondary-color: #f1f1f1;
$alert-color: #F04124;
$info-color: #A0D3E8;
$success-color: #43AC6A;
$warning-color: #F08A24;
$dark-color: #232323;
$gray: #dfdfdf;
$gray-dark: darken($gray, 8);
$gray-light: lighten($gray, 8);

// We use these to make sure border radius matches unless we want it different.
$global-radius: 4px;
$global-rounded: 1000px;

// We use this for default spacing
$global-padding: 1rem;
$global-spacing: rem-calc(15);

$border-gradient-center: #999;

// 3. Breakpoints
$breakpoints: (
   small: rem-calc(0),
   medium: rem-calc(640),
   large: rem-calc(1200),
   xlarge: rem-calc(1440),
   xxlarge: rem-calc(1920),
);