$major-scale-spaced-modes: 7;

.scale-app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  flex: 0 0 2rem;
  background-color: lightgoldenrodyellow;
}

.scales-wrapper {
  margin: auto;
  display: flex;
  flex-direction: row;

  & > div {
    flex: 0 0 auto;
    width: (100vw/$major-scale-spaced-modes);
    box-sizing: border-box;
  }
}

.modes-wrapper {
  flex: 2 1 50%;
  @extend .scales-wrapper;
  border-top: 2px solid #000066;
  height: 60vh;

  .mode {
    @extend .side-borders;
    background-color: #eee;

    .name {
      font-size: 1.4rem;
      text-align: left;
      transform: rotate(-90deg);
      transform-origin: 80% 150%;
    }

    .chord {
      text-align: center;
      border-bottom: 1px solid #000066;
    }
  }
}

.fifths-scroller {
  flex: 2 2 20%;
  border-top: 2px solid #000066;
  border-bottom: 2px solid #000066;
  height: 20vh;
  flex: 0 2 auto;
  font-size: 1.3rem;
  min-height: 3.5rem;
  width: 100%;
  overflow-x: hidden;

  .fifth-sheet-wrapper {
    @extend .scales-wrapper;
    transition:all ease-out 0.2s;
    height: 100%;

    .note {
      @extend .side-borders;
      background-color: #ccc;
      height: 100%;
    }

    .note > div {
      text-align: center;
    }
  }
}

.actions {
  flex: 0 0 2rem;
  text-align: center;
}