<div class="scale-app">
    <div class="header">Major scale</div>
    <div class="modes-wrapper">
        <div class="mode" ng-repeat="mode in ::modes track by mode.id">
            <div class="chord">{{mode.chord}}</div>
            <div class="name">{{mode.name}}</div>
        </div>
    </div>
    <div class="fifths-scroller"
         hm-swipe="onSwipe"
         hm-pan="onPan"
         hm-recognizer-options='[
            {"type":"tap","enable":false},
            {"type":"pan","directions":"DIRECTION_HORIZONTAL", "threshold": 0}
        ]'>
        <div class="fifth-sheet-wrapper" style="margin-left: {{scrollPosition}}px">
            <div class="note" ng-repeat="note in ::uinotes track by note.id">
                <div>{{note.alt}}</div>
                <div>{{note.note}}</div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button ng-click="synonymField()">Synonym fields</button> -
        <button ng-click="shareField()">Share this field</button>
    </div>
</div>