<div class="restaurants-list">
    <div class="options-menu">
        <ul>
            <li>
                <a ng-click="toggleCombo('restTypes')"><span class="icon-filtrat"></span> TIPOS</a>
            </li>
            <li>
                <a ng-click="toggleCombo('restFilters')"><span class="icon-filtrat"></span> FILTRAR</a>
            </li>
            <li>
                <a ng-click="toggleCombo('restOrdering')"><span class="icon-filtrat"></span> ORDENAR</a>
            </li>
        </ul>
    </div>

    <div combopanel name="restTypes" items="types"></div>
    <div combopanel name="restFilters" items="filters"></div>
    <div combopanel name="restOrdering" items="ordering"></div>

    <div class="list">
        <div class="restaurant" ng-repeat="restaurant in restaurants track by restaurant.id">
            <div class="image">
                <div class="thumbnail">
                    <br />
                    <br /><br /><br />
                    <br /><br />
                </div>
            </div>
            <div class="info">
                <div class="title">{{restaurant.name}}</div>
                <div class="favorite active"><span class="icon-corazon"></span></div>
                <div class="rate">
                    <span class="stars">
                        <span class="icon-estrella"></span>
                        <span class="icon-estrella"></span>
                        <span class="icon-estrella"></span>
                        <span class="icon-estrella"></span>
                        <span class="icon-estrella"></span>
                    </span>
                    <span class="comments">354 comentarios</span>
                </div>
                <div class="state closed">Cerrado hoy</div>
                <div class="categories">
                    <span>Pizzas</span>
                    <span>Chivitos</span>
                </div>
                <div class="extra-data">
                    <span>45 - 60min</span>
                    <span>$100 m&iacute;nimo</span>
                </div>
            </div>
        </div>
    </div>

    <div class="cambiar-direccion">
        <a href="#">Cambiar Direcci&oacute;n</a>
    </div>
</div>